datamodel-code-generator[debug]~=0.25
firebase_functions~=0.4
firebase-admin~=6.5
google-api-python-client>=2.137.0,<3.0.0
google-cloud-aiplatform~=1.59
google-cloud-firestore~=2.17
google-cloud-storage~=2.18
langchain-community>=0.2.9
langchain-core~=0.2
langchain-google-vertexai==1.0.10
langchain~=0.2
pydantic>=2.8
youtube-transcript-api~=0.6
