openapi: 3.1.0
info:
  title: YouTube Data API v3
  summary: YouTube Data API v3 was defined in the OpenAPI 3.1 specification.
  description: |-
    See. [YouTube Data API v3](https://developers.google.com/youtube/v3)
  version: 1.0.0
servers:
  - url: https://www.googleapis.com/youtube/v3
    description: Google API
tags:
  - name: Videos
    externalDocs:
      url: https://developers.google.com/youtube/v3/docs/videos
  - name: Captions
    externalDocs:
      url: https://developers.google.com/youtube/v3/docs/captions

paths:
  /videos:
    get:
      tags:
        - Videos
      summary: Returns a list of videos that match the API request parameters.
      description: |-
        Quota impact: A call to this method has a quota cost of **1** unit.
        See. [Videos:list](https://developers.google.com/youtube/v3/docs/videos/list)
      operationId: videosList
      parameters:
        - name: part
          description: |-
            he part parameter specifies a comma-separated list of one or more video resource properties that the API response will include.
            If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set part=snippet, the API response will contain all of those properties.
            The following list contains the part names that you can include in the parameter value.
            - `contentDetails`
            - `fileDetails`
            - `id`
            - `liveStreamingDetails`
            - `localizations`
            - `player`
            - `processingDetails`
            - `recordingDetails`
            - `snippet`
            - `statistics`
            - `status`
            - `suggestions`
            - `topicDetails`
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - contentDetails
                - fileDetails
                - id
                - liveStreamingDetails
                - localizations
                - player
                - processingDetails
                - recordingDetails
                - snippet
                - statistics
                - status
                - suggestions
                - topicDetails
          required: true
        - name: chart
          description: |-
            The chart parameter identifies the chart that you want to retrieve.
            Acceptable values are
            - `mostPopular` - Return the most popular videos for the specified content region and video category.
          in: query
          schema:
            type: string
            enum:
              - mostPopular
        - name: id
          description: |-
            The id parameter specifies a comma-separated list of the YouTube video ID(s) for the resource(s) that are being retrieved.
            In a video resource, the id property specifies the video's ID.
          in: query
          schema:
            type: string
        - name: hl
          description: |-
            The hl parameter instructs the API to retrieve localized resource metadata for a specific application language that the YouTube website supports.
            The parameter value must be a language code included in the list returned by the i18nLanguages.list method.
            If localized resource details are available in that language, the resource's snippet.localized object will contain the localized values.
            However, if localized details are not available, the snippet.localized object will contain resource details in the resource's default language.
          in: query
          schema:
            type: string
        - name: maxHeight
          description: |-
            The maxHeight parameter specifies the maximum height of the embedded player returned in the player.embedHtml property.
            You can use this parameter to specify that instead of the default dimensions, the embed code should use a height appropriate for your application layout.
            If the maxWidth parameter is also provided, the player may be shorter than the maxHeight in order to not violate the maximum width.
            Acceptable values are `72` to `8192`, inclusive.
          in: query
          schema:
            type: integer
            format: int32
            minimum: 72
            maximum: 8192
          examples:
            FHD:
              summary: Full HD
              value: 1080
            4K:
              summary: 4K
              value: 2160
        - name: maxResults
          description: |-
            The maxResults parameter specifies the maximum number of items that should be returned in the result set.
            This parameter is supported for use in conjunction with the myRating parameter, but it is not supported for use in conjunction with the id parameter.
            Acceptable values are `1` to `50`, inclusive. The default value is **5**.
          in: query
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
          examples:
            default:
              summary: default
              value: 5
        - name: maxWidth
          description: |-
            The maxWidth parameter specifies the maximum width of the embedded player returned in the player.embedHtml property.
            You can use this parameter to specify that instead of the default dimensions, the embed code should use a width appropriate for your application layout.
            If the maxHeight parameter is also provided, the player may be narrower than maxWidth in order to not violate the maximum height.
            Acceptable values are `72` to `8192`, inclusive.
          in: query
          schema:
            type: integer
            format: int32
            minimum: 72
            maximum: 8192
          examples:
            FHD:
              summary: Full HD
              value: 1920
            4K:
              summary: 4K
              value: 3840
        - name: pageToken
          description: |-
            The pageToken parameter identifies a specific page in the result set that should be returned.
            In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.
            This parameter is supported for use in conjunction with the myRating parameter, but it is not supported for use in conjunction with the id parameter.
          in: query
          schema:
            type: string
        - name: regionCode
          description: |-
            The regionCode parameter instructs the API to select a video chart available in the specified region.
            This parameter can only be used in conjunction with the `chart` parameter.
            The parameter value is an ISO 3166-1 alpha-2 country code.
          in: query
          schema:
            type: string
          examples:
            JP:
              summary: Japan
              value: JP
        - name: videoCategoryId
          description: |-
            The videoCategoryId parameter identifies the video category for which the chart should be retrieved.
            This parameter can only be used in conjunction with the chart parameter.
            By default, charts are not restricted to a particular category. The default value is **0**.
          in: query
          schema:
            type: string
          examples:
            default:
              summary: default
              value: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Video"
      security:
        - ApiKey: []

  /captions:
    get:
      tags:
        - Captions
      summary: Returns a list of caption tracks associated with a given video.
      description: |-
        Quota impact: A call to this method has a quota cost of **50** units.
        See. [Captions:list](https://developers.google.com/youtube/v3/docs/captions/list)
      operationId: captionsList
      parameters:
        - name: part
          description: The part parameter specifies the caption resource parts that the API response will include.
          in: query
          schema:
            type: string
            enum:
              - id
              - snippet
          required: true
        - name: videoId
          description: The videoId parameter specifies the YouTube video ID of the video for which the API should return caption tracks.
          in: query
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptionList"
        "403":
          description: |-
            `forbidden` - One or more caption tracks could not be retrieved because the permissions associated with the request are not sufficient to retrieve the requested resources.
            The request might not be properly authorized.
          content:
            application/json:
              schema:
                type: object
        "404":
          description: |-
            `captionNotFound` - One or more of the specified caption tracks could not be found.
            This error occurs if the `videoId` parameter identifies an actual video, but the `id` parameter either identifies caption track IDs that do not exist or track IDs that are associated with other videos.
            Check the values of the request's `id` and `videoId` parameters to ensure that they are correct.
          content:
            application/json:
              schema:
                type: object
      security:
        - ApiKey: []

  /captions/{id}:
    get:
      tags:
        - Captions
      summary: Downloads a caption track.
      description: |-
        The caption track is returned in its original format unless the request specifies a value for the `tfmt` parameter and in its original language unless the request specifies a value for the `tlang` parameter.
        Quota impact: A call to this method has a quota cost of **200** units.
        See. [Captions: download](https://developers.google.com/youtube/v3/docs/captions/download)
      operationId: captionsDownload
      parameters:
        - name: id
          description: |-
            The id parameter identifies the caption track that is being retrieved.
            The value is a caption track ID as identified by the id property in a caption resource.
          in: query
          schema:
            type: string
          examples:
            abcdefg:
              summary: alphabet
              value: abcdefg
          required: true
        - name: tfmt
          description: |-
            The tfmt parameter specifies that the caption track should be returned in a specific format.
            If the parameter is not included in the request, the track is returned in its original format.
            Supported values are
            - `sbv` - SubViewer subtitle
            - `scc` - Scenarist Closed Caption format
            - `srt` - SubRip subtitle
            - `ttml` - Timed Text Markup Language caption
            - `vtt` - Web Video Text Tracks caption
          in: query
          schema:
            type: string
            enum:
              - sbv
              - scc
              - srt
              - ttml
              - vtt
        - name: tlang
          description: |-
            The tlang parameter specifies that the API response should return a translation of the specified caption track.
            The parameter value is an ISO 639-1 two-letter language code that identifies the desired caption language.
            The translation is generated by using machine translation, such as Google Translate.
          in: query
          schema:
            type: string
          examples:
            ja:
              summary: Japanese
              value: ja
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: |-
            `couldNotConvert` - The caption track data could not be converted to the requested language and/or format.
            Ensure that the requested tfmt and tlang values are valid, and that the snippet.status of the requested caption track is not failed.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: |-
            `forbidden` - The permissions associated with the request are not sufficient to download the caption track.
            The request might not be properly authorized, or the video order might not have enabled third-party contributions for this caption.
          content:
            application/json:
              schema:
                type: object
        "404":
          description: |-
            `captionNotFound` - The caption track could not be found.
            Check the value of the request's id parameter to ensure that it is correct.
          content:
            application/json:
              schema:
                type: object
      security:
        - ApiKey: []

components:
  schemas:
    Video:
      description: |-
        A video resource represents a YouTube video.
        See. [Videos](https://developers.google.com/youtube/v3/docs/videos#resource)
      type: object
      properties:
        kind:
          type: string
          description: Identifies the API resource's type. The value will be `youtube#video`.
          examples:
            - youtube#video
        etag:
          type: string
          description: The Etag of this resource.
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the video.
        snippet:
          $ref: '#/components/schemas/Snippet'
        # contentDetails:
        #   $ref: '#/components/schemas/ContentDetails'
        # status:
        #   $ref: '#/components/schemas/Status'
        # statistics:
        #   $ref: '#/components/schemas/Statistics'
        # player:
        #   $ref: '#/components/schemas/Player'
        # topicDetails:
        #   $ref: '#/components/schemas/TopicDetails'
        # recordingDetails:
        #   $ref: '#/components/schemas/RecordingDetails'
        # fileDetails:
        #   $ref: '#/components/schemas/FileDetails'
        # processingDetails:
        #   $ref: '#/components/schemas/ProcessingDetails'
        # suggestions:
        #   $ref: '#/components/schemas/Suggestions'
        # liveStreamingDetails:
        #   $ref: '#/components/schemas/LiveStreamingDetails'
        # localizations:
        #   type: object
        #   additionalProperties:
        #     $ref: '#/components/schemas/Localization'
    Snippet:
      description: The snippet object contains basic details about the video, such as its title, description, and category.
      type: object
      properties:
        publishedAt:
          type: string
          format: date-time
          description: |-
            The date and time that the video was published.
            Note that this time might be different than the time that the video was uploaded.
            For example, if a video is uploaded as a private video and then made public at a later time, this property will specify the time that the video was made public.
            There are a couple of special cases:
            - If a video is uploaded as a private video and the video metadata is retrieved by the channel owner, then the property value specifies the date and time that the video was uploaded.
            - If a video is uploaded as an unlisted video, the property value also specifies the date and time that the video was uploaded. In this case, anyone who knows the video's unique video ID can retrieve the video metadata.
            The value is specified in ISO 8601 format.
        channelId:
          type: string
          description: The ID that YouTube uses to uniquely identify the channel that the video was uploaded to.
        title:
          type: string
          description: |-
            The video's title.
            The property value has a maximum length of 100 characters and may contain all valid UTF-8 characters except < and >.
            You must set a value for this property if you call the videos.update method and are updating the snippet part of a video resource.
        description:
          type: string
          description: The video's description. The property value has a maximum length of 5000 bytes and may contain all valid UTF-8 characters except < and >.
        thumbnails:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Thumbnail'
        channelTitle:
          type: string
          description: The title of the channel that the video belongs to.
        tags:
          type: array
          description: |-
            A list of keyword tags associated with the video.
            Tags may contain spaces.
            The property value has a maximum length of 500 characters.
            Note the following rules regarding the way the character limit is calculated:
            - The property value is a list, and commas between items in the list count toward the limit.
            - If a tag contains a space, the API server handles the tag value as though it were wrapped in quotation marks, and the quotation marks count toward the character limit.
          items:
            type: string
        categoryId:
          type: string
          description: The YouTube video category associated with the video. You must set a value for this property if you call the `videos.update` method and are updating the snippet part of a video resource.
        liveBroadcastContent:
          type: string
          description: |-
            Indicates if the video is an upcoming/active live broadcast. Or it's "none" if the video is not an upcoming/active live broadcast.
            Valid values for this property are:
            - `live`
            - `none`
            - `upcoming`
          enum:
            - live
            - none
            - upcoming
        defaultLanguage:
          type: string
          description: The language of the text in the video resource's `snippet.title` and `snippet.description` properties.
        localized:
          $ref: '#/components/schemas/Localized'
        defaultAudioLanguage:
          type: string
          description: The `default_audio_language` property specifies the language spoken in the video's default audio track.
    Thumbnail:
      type: object
      description: |-
        A map of thumbnail images associated with the video.
        For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.
      properties:
        url:
          type: string
          format: uri
          description: The URL of the thumbnail image.
        width:
          type: integer
          format: uint32
          description: The width of the thumbnail image in pixels.
        height:
          type: integer
          format: uint32
          description: The height of the thumbnail image in pixels.
    Localized:
      type: object
      properties:
        title:
          type: string
          description: The localized video title.
        description:
          type: string
          description: The localized video description.

    CaptionList:
      description: |-
        List of caption tracks associated with the specified video.
      type: object
      properties:
        kind:
          type: string
          description: Identifies the API resource's type. The value will be `youtube#captionListResponse`.
          examples:
            - youtube#captionListResponse
        etag:
          type: string
          description: The Etag of this resource.
          examples:
            - "etag"
        items:
          type: array
          description: A list of captions that match the request criteria.
          items:
            $ref: "#/components/schemas/Caption"
    Caption:
      description: |-
        The caption resource represents a YouTube caption track.
        A caption track is associated with a single YouTube video.
        See. [Captions](https://developers.google.com/youtube/v3/docs/captions#resource)
      type: object
      properties:
        kind:
          type: string
          description: Identifies the API resource's type. The value will be `youtube#caption`.
          examples:
            - youtube#caption
        etag:
          type: string
          description: The Etag of this resource.
          examples:
            - "etag"
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the caption track.
          examples:
            - "id"
        snippet:
          type: object
          description: The snippet object contains basic details about the caption.
          properties:
            videoId:
              type: string
              description: The ID that YouTube uses to uniquely identify the video associated with the caption track.
              examples:
                - "videoId"
            lastUpdated:
              type: string
              format: date-time
              description: The date and time when the caption track was last updated. The value is specified in ISO 8601 format.
              examples:
                - "2020-01-23T12:34:56Z"
            trackKind:
              type: string
              description: |-
                The caption track's type.
                Valid values for this property are
                  - `standard` - A regular caption track. This is the default value.
                  - `ASR` - A caption track generated using automatic speech recognition.
                  - `forced` - A caption track that plays when no other track is selected in the player. For example, a video that shows aliens speaking in an alien language might have a forced caption track to only show subtitles for the alien language.
              enum:
                - standard
                - ASR
                - forced
              examples:
                - standard
                - ASR
                - forced
            language:
              type: string
              description: |-
                The language of the caption track.
                The property value is a BCP-47 language tag.
              examples:
                - "ja-JP"
            name:
              type: string
              description: |-
                The name of the caption track.
                The name is intended to be visible to the user as an option during playback.
              examples:
                - "name"
            audioTrackType:
              type: string
              description: |-
                The type of audio track associated with the caption track.
                Valid values for this property are
                - `unknown` - This is the default value.
                - `commentary` - The caption track corresponds to an alternate audio track that includes commentary, such as directory commentary.
                - `descriptive` - The caption track corresponds to an alternate audio track that includes additional descriptive audio.
                - `primary` - The caption track corresponds to the primary audio track for the video, which is the audio track normally associated with the video.
              enum:
                - unknown
                - commentary
                - descriptive
                - primary
              examples:
                - unknown
                - commentary
                - descriptive
                - primary
            isCC:
              type: boolean
              description: Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is `false`.
              examples:
                - false
            isLarge:
              type: boolean
              description: Indicates whether the caption track uses large text for the vision-impaired. The default value is `false`.
              examples:
                - false
            isEasyReader:
              type: boolean
              description: Indicates whether caption track is formatted for "easy reader," meaning it is at a third-grade level for language learners. The default value is `false`.
              examples:
                - false
            isDraft:
              type: boolean
              description: Indicates whether the caption track is a draft. If the value is `true`, then the track is not publicly visible. The default value is `false`.
              examples:
                - false
            isAutoSynced:
              type: boolean
              description: |-
                Indicates whether YouTube synchronized the caption track to the audio track in the video.
                The value will be `true` if a sync was explicitly requested when the caption track was uploaded.
                For example, when calling the `captions.insert` or `captions.update` methods, you can set the sync parameter to `true` to instruct YouTube to sync the uploaded track to the video.
                If the value is `false`, YouTube uses the time codes in the uploaded caption track to determine when to display captions.
              examples:
                - true
            status:
              type: string
              description: |-
                The caption track's status.
                Valid values for this property are
                - `failed`
                - `serving`
                - `syncing`
              enum:
                - failed
                - serving
                - syncing
              examples:
                - failed
                - serving
                - syncing
            failureReason:
              type: string
              description: |-
                The reason that YouTube failed to process the caption track.
                This property is only present if the state property's value is failed.
                Valid values for this property are
                - `processingFailed` - YouTube failed to process the uploaded caption track.
                - `unknownFormat` - The caption track's format was not recognized.
                - `unsupportedFormat` - The caption track's format is not supported.
              enum:
                - processingFailed
                - unknownFormat
                - unsupportedFormat
              examples:
                - processingFailed
                - unknownFormat
                - unsupportedFormat

  securitySchemes:
    ApiKey:
      type: apiKey
      name: key
      description: API Key Authentication
      in: query
